{% extends "base.html.twig" %}

{% block body %}

	<a href="{{ path('app_article_new') }}">Ajouter un article</a> <br><br>
	Liste de mes articles : <br>
	
	{% for article in articles %}
		<a href="{{ path('app_article_show', {'id': article.id}) }}">{{article.title}}</a> <br>
	{% endfor %}
{% endblock %}